#map { position:absolute; top:0; bottom:0; width:100%; }

.loading:before {
  background:rgba(0,0,0,0.25);
  }

.draw-controls > button {
  background-color:transparent;
  }
  .draw-controls > button:hover {
    background-color:rgba(0,0,0,0.5);
    }
  .draw-controls > button:active {
    box-shadow:none;
    }
  .draw-controls > button.active {
    background-color:rgba(0,0,0,0.5);
    box-shadow:0 0 0 3px rgba(56,135,190,0.75);
    }
  .draw-controls > button:only-child {
    border-radius:3px;
    }

.sidebar-panel { width:320px; }

.lifted {
  box-shadow:0 1px 2px rgba(0,0,0,0.20);
  }

.bar { border-right:1px solid rgba(0,0,0,0.5); }
.bar:last-child { border-right:none; }

[data-tooltip] {
  cursor:pointer;
  }
[data-tooltip]:after {
  content:attr(data-tooltip);
  font-family:'Open Sans Bold', sans-serif;
  font-weight:normal;
  position:absolute;
  color:#fff;
  display:none;
  width:100%;
  top:-25px;
  left:0;
  text-transform:capitalize;
  text-align:right;
  }
[data-tooltip]:hover {
  opacity:0.9;
  }
  [data-tooltip]:hover:after {
    display:block;
    }

/* Dark popup */
.mapboxgl-popup-content {
  background-color:#222B30;
  color:#fff;
  padding:10px;
  }
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip { border-top-color:#222B30; }
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip { border-bottom-color:#222B30; }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip { border-left-color:#222B30; }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip { border-right-color:#222B30; }

/* Mobile */
@media only screen and (max-width:640px) {
.sidebar-container {
  position:absolute;
  width:100%;
  padding:0;
  margin:0;
  border-radius:0;
  top:auto;
  bottom:0;
  height:40%;
  z-index:10;
  }
  .sidebar-container > div {
    height:100%;
    border-radius:0;
    box-shadow:none;
    }
  .sidebar-container .round-bottom { border-radius:none; }

.legend-container,
.mapboxgl-ctrl-bottom-right { bottom:40%; }
}
